.carts {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  gap: 5rem 0;
  list-style: none;
  text-decoration: none;
}
@media (max-width: 1000px) {
  .carts {
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 700px) {
  .carts {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, auto);
  }
}
