header {
  padding-top: 2rem;
}
nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 50;
  transition: 0.5s;
  border-radius: 4px;
  position: relative;
}
nav.active {
  width: 85.5%;
  position: fixed;
  background-color: var(--ninth-color);
  color: black;
}

h1 {
  display: flex;
  flex: 1 1 10rem;
  font-size: var(--header1);
  font-family: "Sacramento", cursive;
  padding: 0 4rem;
}
nav > ul {
  display: flex;
  flex: 1 1 10rem;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  transition: 0.2s;
  opacity: 1;
}
nav > ul > li {
  font-size: var(--text);
}

.options {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 10rem;
  align-items: center;
  height: 100%;
}

.icon {
  font-size: var(--text);
  margin: 0 2rem;
  cursor: pointer;
  user-select: none;
}
nav > ul > li:hover,
nav > ul > li > a:active,
nav > ul > li > a.activelink {
  transition: 0.2s;
  border-bottom: 3px solid var(--fifth-color);
}

.mobile-nav {
  display: none;
  cursor: pointer;
  text-align: center;
  user-select: none;
}
.input,
.input::placeholder {
  outline: none;
  border: 0.1px solid black;
  border-radius: 50px;
  background-color: var(--third-color);
  color: var(--fifth-color);
}
.input::placeholder {
  text-align: center;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.toggle {
  position: relative;
  display: block;
  width: 5rem;
  height: 3rem;
  border-radius: 10%;
  background: linear-gradient(
    to left,
    var(--secondry-color) 50%,
    var(--primary-color) 50%
  );
  transition: 0.5s;
  user-select: none;
  margin-right: 1rem;
}
.icomode {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 10%;
  transition: 0.2s;
  transform: scale(0.9);
  z-index: 20;
}
.actives {
  left: 2.2rem;
}
.moon {
  color: var(--secondry-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
}
.sun {
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 2.5rem;
}

@media (max-width: 1120px) {
  nav > ul > li > a,
  .icon {
    font-size: 1.5rem;
  }
}
@media (max-width: 810px) {
  nav > ul > li {
    display: none;
  }
  nav {
    height: 6rem;
  }
  .toggle {
    width: 4rem;
    height: 2.5rem;
  }
  .icomode {
    width: 2.2rem;
    height: 2.5rem;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    height: 4rem;
    min-width: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .nav-menu {
    list-style: none;
    background: var(--sixth-color);
    width: 10rem;
    margin-top: 1.6rem;
  }
  .nav-menu > li {
    border-bottom: 1px solid var(--secondry-color);
    color: var(--secondary-color);
    transition: 0.2s;
  }
  .nav-menu > li > a {
    color: var(--second-color);
    font-size: 2rem;
    font-weight: bold;
  }
  .nav-menu > li:hover {
    background-color: rgb(101, 101, 199);
    color: rgb(70, 3, 3);
  }
  .nav-menu > li > a:active,
  .nav-menu > li > a.mobilelink {
    color: red;
  }
  .anchoractive {
    color: red;
  }
}
@media (max-width: 650px) {
  .mobile-nav {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 600px) {
  nav > ul {
    display: flex;
    flex-direction: column;
  }
  nav > ul > li {
    text-align: center;
  }
}
