.slider {
  position: relative;
  max-width: 90%;
  margin: 10rem auto;
  background-color: var(--fifth-color);
}
.hero {
  width: 35rem;
  height: 50rem;
  background-position: center;
}
.title {
  font-size: calc(3rem + 1vw);
  margin-bottom: 1rem;
}
.paragraph {
  font-size: calc(1.5rem + 1vw);
  margin-bottom: 3rem;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: var(--secondary-color);
  transition: 0.2s;
  color: var(--eighth-color);
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  user-select: none;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: var(--secondary-color);
  transition: 0.2s;
  color: var(--eighth-color);
}
.left-arrow:hover,
.right-arrow:hover {
  color: var(--sixth-color);
}
.offs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: capitalize;
}
.offs-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--eighth-color);
}
.hero-button {
  margin-bottom: 1rem;
}
@media (max-width: 828px) {
  .hero {
    width: 30rem;
    height: 40rem;
  }
  .title {
    font-size: 3rem;
  }
  .paragraph {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .hero-button {
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .hero {
    width: 15rem;
    height: 25rem;
  }
}
@media (max-width: 600px) {
  .left-arrow,
  .right-arrow {
    font-size: 2rem;
  }
} ;
