.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--fourth-color);
  padding: 1rem 0;
  margin: 1rem 0;
  text-transform: uppercase;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: var(--third-color);
  font-size: calc(1rem + 1vw);
  letter-spacing: none;
}
.amount {
  font-size: 2rem;
  color: var(--fifth-color);
}
.price {
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  color: var(--secondry-color);
}

.actions {
  display: flex;
  flex-direction: column;
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--fifth-color);
  border: 1px solid var(--third-color);
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: var(--fourth-color);
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
  transition: 0.1s;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: var(--sixth-color);
}

.img-cart-holder > img {
  max-height: 100px;
  max-width: 100px;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
  .amount {
    font-size: 1.5rem;
  }
}
