.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
}

.control input {
  border: 1px solid var(--third-color);
  border-radius: 4px;
  max-width: 100%;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.actions button {
  color: var(--fifth-color);
  cursor: pointer;
  background-color: var(--sixth-color);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 1px solid var(--sixth-color);
}

.actions button:hover,
.actions button:active {
  background-color: var(--fifth-color);
  color: var(--sixth-color);
}

.actions .submit {
  background-color: var(--third-color);
  color: var(--fifth-color);
}

.actions .submit:hover,
.actions .submit:active {
  background-color: var(--fifth-color);
  color: var(--sixth-color);
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
