.button {
  width: calc(10rem + 1vw);
  height: 5rem;
  background-color: var(--fourth-color);
  color: var(--fifth-color);
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.425rem;
  font-weight: 600;
  padding: 0.75rem 1.2rem;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.375em;
  border: none;
  padding: 1px 1px;
}

.button:hover {
  background-color: var(--sixth-color);
  color: var(--fourth-color);
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (max-width: 760px) {
  .button {
    width: calc(5rem + 1vw);
    height: 3rem;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .button {
    width: calc(4.5rem + 1vw);
    height: 2.8rem;
    font-size: 0.75rem;
  }
}
